:root {
  --chat-history-half-margin: 12px;
  --chat-background-colour: white;
}

@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-light.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-light-italic.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-bold.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Signifier;
  font-style: italic;
  font-weight: 700;
  src: url(https://cdn.openai.com/common/fonts/signifier/signifier-bold-italic.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-buch.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-buch-kursiv.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 500;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-kraftig.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 500;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-kraftig-kursiv.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: normal;
  font-weight: 600;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-halbfett.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne;
  font-style: italic;
  font-weight: 600;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-halbfett-kursiv.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: normal;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-buch.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: normal;
  font-weight: 700;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-halbfett.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: Söhne Mono;
  font-style: italic;
  font-weight: 400;
  src: url(https://cdn.openai.com/common/fonts/soehne/soehne-mono-buch-kursiv.woff2) format("woff2")
}

html,
body {
  padding: 0;
  margin: 0;
  display: flex;
  font-family: sans-serif;
  align-items: stretch;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

* {
  box-sizing: border-box;
}

.chat-history,
.chat-scroller {
  padding-top: 12px;
  padding-bottom: 12px;
}

.chat-history {
  width: 260px;
  background-color: rgb(32, 33, 35);
  color: rgb(236, 236, 241);
  flex-shrink: 0;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.chat-history>a.chat-new {
  border-color:  rgba(255, 255, 255, 0.2);
  border-style: solid;
}

.chat-history>div:hover,
.chat-history>a:hover {
  background-color: rgb(42, 43, 50);
}

.chat-history>a svg {
  flex-shrink: 0;
  margin-right: 8px;
  height: 16px;
  width: 16px;
}

.chat-history>div,
.chat-history>button,
.chat-history>a {
  user-select: none;
  align-items: center;
  display: flex;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 4px;
  border-width: 1px;
  padding-top: var(--chat-history-half-margin);
  padding-bottom: var(--chat-history-half-margin);
  padding-left: 12px;
  line-height: 24px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: calc(24px + (2 * var(--chat-history-half-margin)));
  cursor:pointer;
}

.chat-history-button {
  margin-top: auto;
  margin-left: var(--chat-history-half-margin);
  margin-right: var(--chat-history-half-margin);
  height: 36px;
}

.chat-history-gradient {
  position: absolute;
  width: 36px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-image: linear-gradient(to left, rgb(32, 33, 35), rgba(32, 33, 35, 0));
}

.chat-response {
  position: relative;
  background-color: var(--chat-background-colour);
  display: grid;
  flex-grow: 1;
  max-width: 100%;
  line-height: 28px;
  color: rgb(55, 65, 81);
  font-size: 16px;
}

.chat-response>.chat-scroller {
  position: relative;
  overflow-y: scroll;
  padding-bottom: 124px;
}

.chat-response p {
  margin-top: 0px;
  padding-top: 0px;
}

.chat-response>.chat-scroller>div:first-child {
  padding-top: var(--chat-history-half-margin);
}

.chat-question>div,
.chat-answer>div,
.chat-entry>div,
.chat-entry>form {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  display: flex;
}

.chat-question:first-of-type {
  padding-top: 0px;
}

.chat-question,
.chat-answer {
  padding-top: calc(2* var(--chat-history-half-margin));
  padding-bottom: calc(2*var(--chat-history-half-margin));
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 1px;
  padding-left: 12px;
  padding-right: 12px;
  scroll-padding-bottom: 124px;
  width: 100%;
}

.chat-answer {
  background-color: rgb(247, 247, 248);
}

.chat-avatar-asker,
.chat-avatar-bot {
  width: 30px;
  height: 30px;
  background: skyblue;
  margin-right: var(--chat-history-half-margin);
  flex-shrink: 0;
}

.chat-avatar-bot {
  background-image: url("/me.jpg");
  background-size: contain;
}

.chat-text {
  margin-top: 0px;
  margin-bottom: 4px;
  margin-left: var(--chat-history-half-margin)
}

.chat-block-cursor {
  display: inline-block;
  width: 16px;
  height: 20px;
  margin-left: 8px;
  margin-bottom: -4px;
  color: black;
  background-color: black;
  animation: cursor-blink 750ms infinite;
}

img[src='ai.png'] {
  width: 512px;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  51% {
    opacity: 0;
  }

  99% {
    opacity: 0;
  }
}

.chat-entry {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-image: linear-gradient(to top, white 50%, rgba(255, 255, 255, 0));
}

.chat-entry .chat-entry-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  border-radius: 6px;
  padding: 8px;
  margin-bottom: 36px;
  margin-top: 36px;
  background-color: var(--chat-background-colour);
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-width: 1px;
}

.chat-entry textarea,
.chat-entry input {
  font-family: Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  appearance: none;
  width: 100%;
  border: 0;
  font-size: 16px;
  overflow-y: hidden;
  resize: none;
  margin-left: 8px;
  white-space: pre;
}

textarea:focus,
input:focus {
  outline: 0;
}

.chat-entry button {
  appearance: button;
  background-color: white;
  border-width: 0px;
  border-radius: 6px;
  margin: 0px;
  padding: 4px;
  width: 28px;
  height: 24px;
}

.chat-entry button:hover:enabled,
.chat-entry button:focus:enabled {
  background-color: rgba(0, 0, 0, 0.1);
}

button>svg {
  height: 16px;
  width: 16px;
}
.chat-examples {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}

.chat-examples .chat-example-header {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 768px;
  font-size: 36px;
  font-weight: bold;
}

.chat-examples .chat-example-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  width: 100%;
  align-items: stretch;
}

.chat-example-column {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 12px;
  margin-right: 12px;
  width: 256px;
}

.chat-example-item-header {
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  min-width: 18px;
  min-height: 18px;
}

.chat-example-item-header:first-child {
  margin-bottom: 0px;
}
.chat-example-item-header:nth-child(2) {
  margin-top: 0px;
}

.chat-example-item {
  font-size: 14px;
  text-align: center;
  border-radius: 6px;
  background-color: rgb(247, 247, 248);
  padding: 12px;
  margin-bottom: 12px;
}

.chat-text iframe {
  max-width: 768px;
  width: 50vw;
  min-width: 400px;
}